@use './var.scss' as *;
@use './font.scss' as *;

body {
  font-family: 'font';
  padding: 0;
  margin: 0;
  background: var(--color-bg);
  width: 100vw;
  min-height: 100vh;
  color: var(--color-text);
  ::selection {
    background-color: var(--color-red);
  }
  overflow-x: hidden;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url('~/assets/img/noise.svg') center repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.8;
    z-index: -1;
  }
}

html.dark {
  body::before {
    filter: invert(0.8);
  }
}

#__nuxt {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.4s ease-in-out;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
