.page {
  @apply relative flex flex-col lg:flex-row lg:pl-[142px] bg-gray-50;  
}

:global(.dark) .page {
  @apply bg-gray-900;
}

.status-wrapper {
  height: calc(100vh - var(--header-height));
  @apply lg:border-l-2 px-6 border-gray-800 w-full lg:w-2/3 lg:pb-8;
}

:global(.dark) .status-wrapper {
  @apply border-gray-100;
}

.about-wrapper {
  top: var(--header-height);
  @apply w-full lg:w-1/3 lg:border-l-2 border-gray-800 sticky right-0 overflow-hidden px-6;

  p {
    @apply text-lg mb-4 text-gray-800;
  }
}

:global(.dark) .about-wrapper {
  @apply border-gray-100;

  p {
    @apply text-gray-100;
  }
}

.title {
  padding: 12vh 0;
  @apply text-6xl lg:text-7xl text-gray-800;
}

:global(.dark) .title {
  @apply text-gray-100;
}