.page {
  @apply relative flex flex-col lg:flex-row lg:pl-[142px] bg-gray-50 dark:bg-gray-900;
}

.main {
  @apply lg:border-l-2 px-6 border-gray-800 dark:border-gray-100 w-full lg:w-2/3 lg:pb-8;
}

.main > h1 {
  padding: 12vh 0;
  @apply text-6xl lg:text-7xl text-gray-800 dark:text-gray-100;
}

.aside {
  height: calc(100vh - var(--header-height));
  top: var(--header-height);
  @apply w-full lg:w-1/3 lg:border-l-2 border-gray-800 dark:border-gray-100 sticky right-0 overflow-hidden;
}

.gallery {
  @apply px-6;
}

.gallery > h1 {
  padding: 12vh 0;
  @apply text-6xl lg:text-7xl text-gray-800 dark:text-gray-100;
}

.gallery-actions {
  @apply text-right;
}

.gallery-actions > button,
.pagination > button {
  @apply inline-flex items-center justify-center text-gray-800 dark:text-gray-200 p-1;
}

.gallery-actions svg,
.pagination svg {
  stroke-width: 1.5;
}

.list {
  @apply grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-6;
}

.pagination {
  @apply flex items-center justify-center mt-8;
}