.page {
  @apply relative flex flex-col lg:flex-row lg:pl-[142px];
}

.main {
  @apply lg:border-l-2 px-6 border-slate-800 dark:border-slate-50 w-full lg:w-2/3 lg:pb-8;
}

.main > h1 {
  padding: 10vh 0;
  @apply text-6xl lg:text-7xl text-slate-800 dark:text-slate-50;
}

.aside {
  height: calc(100vh - var(--header-height));
  top: var(--header-height);
  @apply w-full lg:w-1/3 lg:border-l-2 border-slate-800 dark:border-slate-50 sticky right-0 overflow-hidden;
}

.gallery {
  @apply px-6;
}

.gallery > h1 {
  padding: 10vh 0;
  @apply text-6xl lg:text-7xl text-slate-800 dark:text-slate-50;
}

.gallery-actions {
  @apply text-right;
}

.gallery-actions > button {
  @apply inline-flex items-center justify-center text-slate-800 dark:text-slate-200 p-1;
}

.gallery-actions svg {
  stroke-width: 1.5;
}

.list {
  @apply grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-6;
}