@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Noto Serif SC', 'Noto Serif', 'Harmony Sans SC', 'Harmony Sans', 'Noto Sans CJK SC', 'Noto Sans', 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
}

body {
  @apply bg-gray-50 dark:bg-gray-900;
}

:root {
  --header-height: 104px;
}

* {
  box-sizing: border-box;
}

#__next {
  @apply relative z-0;
}

[data-rmiz-modal-overlay="visible"] {
  @apply bg-gray-100 dark:bg-gray-900;
}