@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Noto Serif SC', 'Noto Serif', 'Harmony Sans SC', 'Harmony Sans', 'Noto Sans CJK SC', 'Noto Sans', 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
}

:root {
  --header-height: 104px;
}

* {
  box-sizing: border-box;
}

#__next {
  @apply relative z-0;
}

.story-toc-aside nav {
  @apply text-lg text-gray-400 dark:text-gray-500;
}

.story-toc-aside .toc-level-2 {
  @apply pl-8;
}

.story-toc-aside .toc-item {
  @apply my-1;
}

.story-toc-aside .toc-link-h2 {
  @apply text-gray-600 dark:text-gray-300;
}

[data-rmiz-modal-overlay="visible"] {
  @apply bg-slate-100 dark:bg-slate-900;
}