.page-light {
  background: url('../public/assets/app/glow-bg-light-sm.png');
}

.page-dark {
  background: url('../public/assets/app/glow-bg-dark-sm.png');
}

.page {
  background-size: 120%;
  background-position-y: bottom; 
  background-position-x: -5vw;
  @apply h-screen bg-no-repeat flex flex-col bg-gray-50 dark:bg-gray-900;
}

@media screen and (min-width: 1024px) {
  .page {
    background-size: 50%;
    background-position-y: -10vh; 
    background-position-x: 60vw;
    @apply h-screen bg-no-repeat flex flex-col;
  }
}

.main {
  @apply px-6 relative flex-grow h-full lg:px-0 lg:flex lg:flex-col;
}

.container {
  @apply border-gray-800 dark:border-gray-50
  lg:border-l-2 lg:ml-[142px] lg:flex-grow pt-[20vh] lg:pt-[12vh];
}

.container > h1 {
  @apply text-5xl font-bold leading-tight relative text-gray-800 dark:text-gray-50
  lg:text-8xl lg:pl-6;
}

.actions {
  @apply px-6 flex items-center justify-between border-y-2 border-gray-800 dark:border-gray-50
  lg:hidden;
}

.actions > a {
  @apply text-lg font-bold py-2;
}

.footer {
  @apply hidden lg:block border-t-2 border-gray-800 dark:border-gray-50 pl-[142px];
}

.footer > div {
  @apply pb-7 pt-1 pl-6 border-l-2 border-gray-800 dark:border-gray-50;
}

.footer > div > a {
  @apply underline underline-offset-2;
}
